<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
        <div data-aos="zoom-out"><br><br><br>
          <h1>Boost your business with <span>Highest quality</span> software solutions</h1>
          <h2>The talented designers and developers who making products with international
            standards.
          </h2><br>
          <div class="text-center text-lg-start">
            <b routerLink="/contact" class="btn-get-started scrollto">Get Started</b><br><br><br><br>
          </div>
        </div>
      </div>
      <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
        <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
  <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 " preserveAspectRatio="none">
    <defs>
      <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
    </defs>
    <g class="wave1">
      <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use>
    </g>
    <g class="wave2">
      <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use>
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
    </g>
  </svg>

</section><!-- End Hero -->

<!-- ======= About Section ======= -->
<app-description></app-description>
<!-- End About Section -->

<!-- ======= Services Section ======= -->
<app-serv-smal></app-serv-smal>
<!-- End Services Section -->

<!-- ======= Tools Section ======= -->
<app-tools></app-tools>
<!-- ======= Tools Section ======= -->

<!-- End Skills Section -->
<app-skills></app-skills>
<!-- End Skills Section -->

<br>
<!-- ======= Clients Section ======= -->
<section id="clients" class="clients clients">
  <div class="container">
    <div class="section-title" data-aos="fade-up" style="text-align:left !important;">
      <h2>They trust us</h2>
      <p>Our partners</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-3 col-6" style="height: 150px; width: 300px;" >
        <a href="https://www.udesmontagnes.aed-cm.org" target="_blank">
        <img src="assets/img/clients/udm_logo.jpeg" class="img-fluid" alt="UdM logo" data-aos="zoom-in" data-aos-delay="200"></a>
      </div>

      <div class="col-lg-3 col-md-3 col-6" style="height: 150px; width: 300px;">
        <a href="https://tonkain.com" target="_blank">
        <img src="assets/img/clients/tonkaIn_logo.jpeg" class="img-fluid" alt="TonkaIn logo" data-aos="zoom-in" data-aos-delay="200"></a>
      </div>

      <div class="col-lg-3 col-md-3 col-6" style="height: 150px; width: 300px;">
        <a href="https://kgo.sdkgames.com/#/welcome" target="_blank">
        <img src="assets/img/clients/kgo_logo.png" class="img-fluid" alt="KarrynGo logo" data-aos="zoom-in" data-aos-delay="300"></a>
      </div>
      
      <div class="col-lg-3 col-md-3 col-6" style="height: 150px; width: 300px;">
        <a href="https://cambuildbtp.000webhostapp.com" target="_blank">
        <img src="assets/img/clients/cambuild_logo.jpg" class="img-fluid" alt="sdk logo" data-aos="zoom-in" data-aos-delay="200"></a>
      </div>

      <div class="col-lg-3 col-md-4 col-6" style="height: 150px; width: 300px;">
        <a href="https://lecoinskin.com" target="_blank">
        <img src="assets/img/clients/lecoinskin.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400"></a>
      </div>

      <div class="col-lg-3 col-md-4 col-6" style="height: 150px; width: 300px;">
        <a>
        <img src="assets/img/clients/logo_AYISSI_pharma.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500"></a>
      </div>

      <div class="col-lg-3 col-md-4 col-6" style="height: 150px; width: 300px;">
        <a>
        <img src="assets/img/clients/wrayon_logo.jpeg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500"></a>
      </div>

      <div class="col-lg-3 col-md-4 col-6" style="height: 150px; width: 300px;">
        <a>
        <img src="assets/img/clients/sdk_logo.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500"></a>
      </div>

    </div>

  </div>
</section><!-- End Clients Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container">

    <div class="row" data-aos="fade-up">

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="bi bi-emoji-smile"></i>
          <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
            class="purecounter"></span>
            <b>113</b>
          <p>Happy Clients</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="bi bi-journal-richtext"></i>
          <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
            class="purecounter"></span>
           <b> 27</b>
          <p>Projects</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="bi bi-headset"></i>
          <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
            class="purecounter"></span>
            <b> 3601</b>
          <p>Hours Of Support</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="bi bi-people"></i>
          <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
            class="purecounter"></span>
           <b> 8</b>
          <p>Hard Workers</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Counts Section -->

<!-- ======= Team Section ======= -->
<app-team></app-team>
<!-- End Team Section -->

<div class="footer-newsletter">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h4>Our Newsletter</h4>
        <p>Stay informed about the promotions of our products and services.</p>
      </div>
      <div class="col-lg-6">
        <form action="" method="post">
          <input type="email" name="email" placeholder="Your Email"><input type="submit" value="Subscribe">
        </form>
      </div>
    </div>
  </div>
</div>