<section id="about" class="about">
  <div class="container-fluid">

    <div class="row">
      <!-- <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div> -->
      <div class="col-xl-5 col-lg-6 d-flex hero-img align-items-stretch" data-aos="fade-right">
        <img src="assets/img/img1.png" class="img-fluid animated" alt="">
      </div>

      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
        data-aos="fade-left">
        <h3>Yaba-<span style="color: #c27f28;">Innovation</span>, Who are we?</h3>
        <p align="justify">Yaba-In is a limited liability company initiated in 2018 by yong Cameroonian engineers serving Africa and the whole world through the development
          of IT and innovative solutions.
          We are a digital transformation consultancy and software development company that provides cutting edge
          engineering solutions,
          helping companies and enterprise clients untangle complex issues that always emerge during their digital
          evolution journey.
          Our teams are mainly composed of IT specialists who are competent, disciplined and passionate.
        </p>
        <br><br>
        <h3> Our goal</h3>

        <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon"><i class="ri-stack-line"></i></div>
          <h4 class="title"><a>Offering the best quality of service</a></h4>
          <p class="description">We bring you quality software solutions that meet your requirements, allowing you to
            bring new perspectives to your business.
            They will help you modernise your business and offer new sources of value for your customers.</p>
        </div>

        <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon"><i class="bx bxs-plane-take-off"></i></div>
          <h4 class="title"><a>Boosting the growth of software solutions made in Africa</a></h4>
          <p class="description">We create software solutions made in Africa for individuals or companies at local and
            global level.
            This is to enhance African skills and performance on international scale..</p>
        </div>

        <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon"><i class="ri-line-chart-line"></i></div>
          <h4 class="title"><a>Gaining a share of the global IT market</a></h4>
          <p class="description">Ensuring that more customers are satisfied, and directing global markets to IT services offered by qualified African engineers. 
            This is to increase Africa's prosperity and economic growth.</p>
        </div>

      </div>
    </div>

  </div>
</section>