<section id="pricing" class="pricing">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Basic Offers</h2>
            <p>Check our Pricing</p>
        </div>

        <div class="row" data-aos="fade-left">

            <div class="col-lg-3 col-md-6">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                    <h3>Basic-YaDesign</h3>
                    <h4 style="color: #1d436d;">25 000 <sub style="font-size: 12px !important;">FCFA</sub><span> <br> <s>35 000 FCFA</s></span></h4><br>
                    <ul>
                        <li>1 Logo</li>
                        <li>2 Flyers</li>
                        <li>1 Corporate documents</li>
                        <li class="na">Business Cards</li>
                        <li class="na">Tickets</li>
                        <li class="na">Posters, Flyers and Banners</li>
                        <li class="na">Invoices, Quotations</li>
                        <li class="na">Contracts, Purchase Orders</li>
                    </ul>
                    <div class="btn-wrap">
                        <b class="btn-buy" routerLink="/contact">Subscribe Now</b>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
                    <h3>Basic-YaSite</h3>
                    <h4 style="color: #1d436d;">150 000 <sub style="font-size: 12px !important;">FCFA</sub><span><br> <s>200 000 FCFA</s></span></h4><br>
                    <ul>
                        <li>1 Logo</li>
                        <li>1 Domain Name</li>
                        <li>1 Showcase Websites</li>
                        <li>1 migration service</li>
                        <li class="na">E-Commerce Websites</li>
                        <li class="na">Business/Corporate Websites</li>
                        <li class="na">Portfolio Websites</li>
                        <li class="na">Social Media Websites</li>
                    </ul>
                    <div class="btn-wrap">
                        <b class="btn-buy" routerLink="/contact">Subscribe Now</b>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="400">
                    <h3>Basic-YaOdoo</h3>
                    <h4 style="color: #1d436d;">300 000 <sub style="font-size: 12px !important;">FCFA</sub><span> <br> <s>320 000 FCFA</s></span></h4><br>
                    <ul>
                        <li>Deployment</li>
                        <li>Customisation</li>
                        <li class="na">Personal Module Dev</li>
                        <li class="na">Regular updates</li><br><br><br><br><br><br><br>
                    </ul>
                    <div class="btn-wrap">
                        <b class="btn-buy" routerLink="/contact">Subscribe Now</b>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                    <span class="advanced">Advantag</span>
                    <h3>Basic-YaVR</h3>
                    <h4 style="color: #1d436d;">1 500 000 <sub style="font-size: 12px !important;">FCFA</sub><span> <br> <s>1 700 000 FCFA</s></span></h4><br>
                    <ul>
                        <li>1 PC Gaming</li>
                        <li>1 OCULUS Rift cardboard</li>
                        <li>5 Applications</li>
                        <li class="na">Personal software</li>
                        <li class="na">Regular updates</li>
                        <li class="na">Training</li><br><br><br><br>
                    </ul>
                    <div class="btn-wrap">
                        <b class="btn-buy" routerLink="/contact">Subscribe Now</b>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>