
<section id="wsa>" class="details">
    <div class="container">

        <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
                <img src="assets/img/services/web_dev.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-4" data-aos="fade-up">
                <h3><i class="bx bx-world" style="border: solid; border-color: #1d436d; border-radius: 15px;"></i> Web Site / Application </h3>
                <p>We have a web design, backend, frontend and fullstack developer team with
                    many achievements to their credit, for a better quality service. <br> Let our experts build you a beautiful :
                </p>
                <ul>
                    <li><i class="bi bi-check"></i> Showcase Websites</li>
                    <li><i class="bi bi-check"></i> E-Commerce Websites</li>
                    <li><i class="bi bi-check"></i> Business/Corporate Websites</li>
                    <li><i class="bi bi-check"></i> Portfolio Website</li>
                    <li><i class="bi bi-check"></i> Blogs</li>
                    <li><i class="bi bi-check"></i> Social Media Websites</li>
                </ul>
                <p>The realisation of other types of site is possible according to your need.</p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                <img src="assets/img/services/gdesign2.jpeg" class="img-fluid" alt="Graphic img">
            </div>
            <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                <h3><i class='bx bxl-meta' style="border: solid; border-color: #1d436d; border-radius: 10px;"></i> Logo / Graphic Design</h3>
                <p>Your brand image is important, it is the first symbol of your company. 
                    Often the first thing your customers or the public will see. 
                    Don't be afraid to rejuvenate it when the time comes to demonstrate the timeliness of your business. This image must be anchored in people's eyes, be simple and representative of your values. 
                </p><p> We update your brand and visual identity to promote the inherent values of
                    your business.
                    We focus on the details and so you can focus on the customers.
                </p>
                <ul>
                    <li><i class="bi bi-check"></i> LOGO</li>
                    <li><i class="bi bi-check"></i> Business Cards</li>
                    <li><i class="bi bi-check"></i> Tickets</li>
                    <li><i class="bi bi-check"></i> Corporate documents</li>
                    <li><i class="bi bi-check"></i> Posters, Flyers and Banners</li>
                    <li><i class="bi bi-check"></i> Invoices, Quotations, Contracts and Purchase Orders
                    </li>
                </ul>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
                <img src="assets/img/services/desktop-dev.gif" class="img-fluid" alt="desk img">
            </div>
            <div class="col-md-8 pt-5" data-aos="fade-up">
                <h3><i class='bx bx-desktop'  style="border: solid; border-color: #1d436d; border-radius: 5px;"></i> Desktop Development</h3>
                <p>We have long experience in developing robust business applications for Windows, 
                    macOS and Linux. When you need a program to run demanding algorithms, 
                    to meet complex functional challenges.
                </p>
                <ul>
                    <li><i class="bi bi-check"></i> Development: Planification, back-end/front-end development and tests</li>
                    <li><i class="bi bi-check"></i> Deployment: Installation, stabilisation and User training</li>
                    <li><i class="bi bi-check"></i> Support: Monitoring and maintenance of developments and improvements</li>
                </ul>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                <img src="assets/img/services/mob-dev.gif" class="img-fluid" alt="Mobile img">
            </div>
            <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                <h3><i class="bx bx-mobile" style="border: solid; border-color: #1d436d; border-radius: 5px;"></i> Mobile Development</h3>
                <p>The native mobile applications allow the full functionality of the phone to be used even without internet access. 
                    We use the latest technologies to create outstanding mobile apps for a specific operating system :
                <ul>
                    <li><i class="bi bi-check"></i> iOS</li>
                    <li><i class="bi bi-check"></i> Android</li>
                </ul>
                <p>
                    Mobile development for Windows systems will soon be available.
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
                <img src="assets/img/services/vr2.gif" class="img-fluid" alt="VR Img">
            </div>
            <div class="col-md-8 pt-5" data-aos="fade-up">
                <h3><i class="fas fa-vr-cardboard" style="border: solid; border-color: #1d436d; border-radius: 5px;"></i> Virtual Reality</h3>
                <p>The world of virtual reality merges the power of 3D graphics. 
                    In addition to organising trade shows to popularise this field in Africa, we develop Virtual Reality software solutions for businesses and individuals.
                    Virtual reality technology is widely used for a variety of purposes, such as games, video games, and more.</p>
                <ul>
                    <li><i class="bi bi-check"></i> Engineering</li>
                    <li><i class="bi bi-check"></i> Education</li>
                    <li><i class="bi bi-check"></i> Design</li>
                    <li><i class="bi bi-check"></i> entertainment</li>
                    <li><i class="bi bi-check"></i> Medicine</li>
                    <li><i class="bi bi-check"></i> Gamification</li>
                </ul>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                <img src="assets/img/services/odoo1.jpeg" class="img-fluid" alt="Odoo img">
            </div>
            <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                <h3><i class="bx bx-sitemap" style="border: solid; border-color: #1d436d; border-radius: 5px;"></i> Odoo Development</h3>
                <p>Odoo: A business solution that allows you to focus on your customers. 
                    This allows you to increase your billable hours, ensure more customers are satisfied and increase the flexibility of your business.
                    <br> we take care of you:
                </p>
                <ul>
                    <li><i class="bi bi-check"></i> The deployment of this ERP in your system.</li>
                    <li><i class="bi bi-check"></i> Customisation and updating of the system according to your needs.</li>
                    <li><i class="bi bi-check"></i> Developing new modules for you.</li>
                </ul>
            </div>
        </div>

    </div>
</section>