<section id="services" class="services">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Our</h2>
            <p>Services</p>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" routerLink="/services">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a >Web Site / Application</a></h4>
                    <p class="description">We have a web design, backend, frontend and fullstack developer team with
                        many achievements to their credit, for a better quality service.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" routerLink="/services">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class='bx bxl-meta'></i></div>
                    <h4 class="title"><a>Logo / Graphic Design</a></h4>
                    <p class="description">We update your brand and visual identity to promote the inherent values of
                        your business.
                        We focus on the details and so you can focus on the customers.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" routerLink="/services">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class='bx bx-desktop'></i></div>
                    <h4 class="title"><a>Desktop Development</a></h4>
                    <p class="description">We have extensive experience in the development of desktop Windows solutions.
                        However, we offer solutions based on the linux kernel.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" routerLink="/services">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bx bx-mobile"></i></div>
                    <h4 class="title"><a>Mobile Development</a></h4>
                    <p class="description">Mobile Apps is an important factor in the digital world. As a result, we make
                        applications usable on mobile devices for a more accessible experience.</p>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">

            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" routerLink="/services">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="fas fa-vr-cardboard"></i></div>
                    <h4 class="title"><a>Virtual Reality</a></h4>
                    <p class="description">We offer virtual reality exhibition services, equipment rental training and
                        development of virtual training,
                        gamification and virtual tourism applications.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" routerLink="/services">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bx bx-sitemap"></i></div>
                    <h4 class="title"><a>Odoo Modules Development</a></h4>
                    <p class="description">Integration and customisation of Odoo ERP for your company. Development of
                        management modules.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">

            </div>
        </div>

    </div>
</section>