
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <b class="logo d-flex align-items-center">
              <img src="../../../assets/img/icon.png" alt="">
              <span style="color: #1d436d; text-decoration:none !important;">Yaba-<b style="color: #c27f28;">In</b></span>
            </b>
            <p>Smarter business solutions that allow you to focus on your customers and optimise your strategy.</p>
            <div class="social-links mt-3">
              <a href="https://www.linkedin.com/company/yaba-in/about/" target="_blank"  class="linkedin"><i class="bi bi-linkedin" style="color: #1d436d;"></i></a>
              <a class="twitter"><i class="bi bi-twitter" style="color: #1d436d;"></i></a>
              <a href="https://www.facebook.com/YabaInnovation/" target="_blank" class="facebook"><i class="bi bi-facebook" style="color: #1d436d;"></i></a>
              <a target="_blank" class="instagram"><i class="bi bi-instagram" style="color: #1d436d;"></i></a>
              <a class="youtube"><i class="bi bi-youtube" style="color: #1d436d;"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right" style="color: #c27f28;"></i> <a routerLink="/home">Home</a></li>
              <li><i class="bi bi-chevron-right" style="color: #c27f28;"></i> <a routerLink="/services">Services</a></li>
              <li><i class="bi bi-chevron-right" style="color: #c27f28;"></i> <a routerLink="/tech">Tech</a></li>
              <li><i class="bi bi-chevron-right" style="color: #c27f28;"></i> <a routerLink="/about">About us</a></li>
              <li><i class="bi bi-chevron-right" style="color: #c27f28;"></i> <a routerLink="/contact">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right" style="color: #c27f28;"></i> <a routerLink="/services">Web Site/Application</a></li>
              <li><i class="bi bi-chevron-right" style="color: #c27f28;"></i> <a routerLink="/services">Logo/Graphic design</a></li>
              <li><i class="bi bi-chevron-right" style="color: #c27f28;"></i> <a routerLink="/services">Desktop Development</a></li>
              <li><i class="bi bi-chevron-right" style="color: #c27f28;"></i> <a routerLink="/services">Mobile Development</a></li>
              <li><i class="bi bi-chevron-right" style="color: #c27f28;"></i> <a routerLink="/services">Virtual Reality</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              Tchougo, Bangangté <br>
              West Cameroon<br>
               <br><br>
              <strong>Phone:</strong> +237 694 949 617 <i class="fab fa-whatsapp" style="color: green;"></i><br>
              <strong>Email:</strong> contact@yaba-in.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

      <div class="copyright">
        &copy; Copyright <strong><span>Yaba-<b style="color: #c27f28;">In</b></span></strong>. All Rights Reserved
      </div>
  </footer><!-- End Footer -->