<section id="features" class="features">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Features</h2>
            <p>Tools and technologies</p>
        </div>

        <div class="row" data-aos="fade-left">
            <div class="col-lg-3 col-md-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                    <i class="fab fa-angular" style="color: #ff3a2c;"></i>
                    <h3><a>Angular</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                    <i class="fab fa-docker" style="color: #1885ec;"></i>
                    <h3><a> Docker</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
                    <img src="../../../assets/img/tools/unity.png" alt="" style="width: 40px; height: 35px;">
                    <h3><a> Unity</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                    <img src="../../../assets/img/tools/firebase.png" alt="" style="width: 40px; height: 35px;">
                    <h3><a> Firebase</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
                    <img src="../../../assets/img/tools/nodejs.png" alt="" style="width: 40px; height: 35px;">
                    <h3><a> Node-js</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
                    <img src="../../../assets/img/tools/mongodb.png" alt="" style="width: 40px; height: 35px;">
                    <h3><a>MongoDB</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="550">
                    <img src="../../../assets/img/tools/android_studio.png" alt="" style="width: 40px; height: 35px;">
                    <h3><a>Android Studio</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="600">
                    <img src="../../../assets/img/tools/ionic.png" alt="" style="width: 40px; height: 35px;">
                    <h3><a>Ionic</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
                    <img src="../../../assets/img/tools/qt.jpeg" alt="" style="width: 40px; height: 35px;">
                    <h3><a> QT</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                    <img src="../../../assets/img/tools/odoo.png" alt="" style="width: 40px; height: 35px;">
                    <h3><a> Odoo</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
                    <img src="../../../assets/img/tools/illustrator.png" alt="" style="width: 40px; height: 35px;">
                    <h3><a> Illustrator</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                    <img src="../../../assets/img/tools/embarcadero.png" alt="" style="width: 40px; height: 35px;">
                    <h3><a> Embarcadero</a></h3>
                </div>
            </div>
        </div>

    </div>
</section>