@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
6. Points
7. Services
8. Call Back


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'gill';
	src: url('../fonts/gil.ttf')  format('truetype');
}
@font-face
{
	font-family: 'gill';
	src: url('../fonts/gil_b.ttf')  format('truetype');
	font-weight: bold;
}

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.92;
	font-weight: 400;
	color: #838383;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 40px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.nopadding
{
	padding: 0px !important;
}
.link_button
{
	width: 174px;
	height: 59px;
	background: #ffa800;
	text-align: center;
}
.link_button a
{
	display: block;
	position: relative;
	line-height: 59px;
	font-family: 'gill', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	z-index: 1;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.link_button a::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 50%;
	height: 100%;
	background: #FFFFFF;
	content: '';
	opacity: 0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	z-index: -1;
}
.link_button:hover a::after
{
	width: 100%;
	opacity: 1;
}
.link_button:hover a
{
	color: #ffa800;
}
.section_subtitle
{
	font-family: 'gill', sans-serif;
	font-size: 12px;
	color: #a5a5a5;
	text-transform: uppercase;
	padding-top: 30px;
	padding-left: 3px;
	letter-spacing: 0.2em;
}
.section_subtitle::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 2px;
	width: 68px;
	height: 3px;
	background: #ffa800;
	content: '';
}
.section_title
{
	font-family: 'gill', sans-serif;
	font-size: 40px;
	color: #212121;
	margin-top: -7px;
}
.section_text
{
	font-size: 16px;
	line-height: 1.875;
	color: #838383;
	margin-top: 23px;
}
.section_text p:last-of-type
{
	margin-bottom: 0;
}

/*********************************
6. Points
*********************************/

.points
{
	width: 100%;
	padding-top: 110px;
	background: #FFFFFF;
}
.points_container
{
	margin-top: 108px;
}
.point
{
	margin-bottom: 102px;
}
.point_image
{
	width: 76px;
	height: 76px;
	border: solid 2px #ffa800;
	border-radius: 50%;
	float: left;
}
.point_image img
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 100%;
}
.point_content
{
	padding-left: 101px;
}
.point_title
{
	font-family: 'gill', sans-serif;
	font-size: 24px;
	color: #212121;
	line-height: 0.75;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.point:hover .point_title
{
	color: #ffa800;
}
.point_text
{
	margin-top: 23px;
}
.point_text p:last-of-type
{
	margin-bottom: 0;
}

/*********************************
7. Services
*********************************/

.services
{
	width: 90%;
	padding-top: 110px;
	margin-left: 5%;
	margin-right:5%;
	padding-bottom: 75px;
}
.services_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.service
{
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
	padding-left: 66px;
	padding-right: 30px;
	padding-top: 59px;
	padding-bottom: 59px;
	margin-bottom: 35px;
	background: #f5f9fa;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.service:hover
{
	background: #ffa800;
}
.service:nth-child(3n+3)
{
	margin-right: 0;
}
.service_icon
{
	width: 61px;
	height: 61px;
}
.service_icon img
{
	max-height: 61px;
}
.service_icon svg
{
	max-width: 100%;
	max-height: 100%;
}
.service_icon svg path
{
	fill: #ffa800;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.service:hover svg path
{
	fill: #FFFFFF;
}
.service_title
{
	font-family: 'gill', sans-serif;
	font-size: 24px;
	line-height: 1.68;
	color: #212121;
	margin-top: 26px;
	padding-right: 40px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.service:hover .service_title
{
	color: #FFFFFF;
}
.service_text
{
	margin-top: 18px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.service_text p
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.service_text p:last-of-type
{
	margin-bottom: 0;
}
.service:hover .service_text p
{
	color: #FFFFFF;
}
.service_link
{
	margin-top: 35px;
}
.service_link a
{
	font-size: 14px;
	font-weight: 600;
	color: #212121;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.service:hover .service_link a
{
	color: #FFFFFF;
}
.service_link a:hover
{
	color: #11100e !important;
}

/*********************************
8. Call Back
*********************************/

.call
{
	width: 100%;
	background: #FFFFFF;
}
.call_image
{
	position: absolute;
	bottom: 0;
	left: 15px;
	width: 100%;
}
.call_image img
{
	max-width: 100%;
}
.call_container
{
	padding-top: 110px;
	padding-bottom: 110px;
}
.call_form_container
{
	margin-top: 76px;
}
.call_form
{
	width: 100%;
}
.input_item
{
	width: 100%;
	height: 47px;
	border: solid 2px #b5b5b5;
	margin-bottom: 24px;
	padding-left: 27px;
	outline: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.dropdown_item
{
	-webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	font-size: 12px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #a0a0a0 !important;
	background-image: url(../images/dropdown.png);
	background-position: center right;
	background-repeat: no-repeat;
}
.input_item:focus
{
	border-color: #003679;
}
.dropdown_item option
{
	font-style: normal;
	font-size: 14px;
	color: #212121;
}
.input_item::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #a0a0a0 !important;
}
.input_item:-moz-placeholder
{
	font-size: 12px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #a0a0a0 !important;
}
.input_item::-moz-placeholder
{
	font-size: 12px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #a0a0a0 !important;
} 
.input_item:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #a0a0a0 !important;
}
.input_item::input-placeholder
{
	font-size: 12px !important;
	font-style: italic !important;
	font-weight: 400 !important;
	color: #a0a0a0 !important;
}
.call_form_submit
{
	width: 100%;
	height: 47px;
	overflow: hidden;
}
.call_button
{
	display: block;
	position: relative;
	width: 100%;
	height: 47px;
	background: #ffa800;
	line-height: 47px;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 500;
	border: none;
	outline: none;
	cursor: pointer;
	z-index: 1;
}
